include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft unshorten
global-exclude *.orig *.pyc *.log
prune unshorten/tests/coverage/
prune unshorten/.ropeproject/
